# RAG 服务端口
LIVERAG_RAG_PORT=9819

# LightRAG 使用的 LLM
LIVERAG_RAG_LLM_MODEL=
LIVERAG_RAG_LLM_BASE_URL=
LIVERAG_RAG_LLM_API_KEY=

# LightRAG 使用的 Embedding 模型
LIVERAG_RAG_EMBEDDING_MODEL=
LIVERAG_RAG_EMBEDDING_BASE_URL=
LIVERAG_RAG_EMBEDDING_API_KEY=